/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.todo {
    top: 30px;
    margin: auto;
    width: 360px;
}

.input--add-task {

}

.add-task {
    margin-top: 10px;
    margin-bottom: 7px
}

.main-col {
    float: none;
    margin: 0 auto;
}

.row-0 {
    display: flex
}

.row-1 {
    margin-top: -10px;
    margin-bottom: 6px;
}

.row-2 {
    margin-bottom: 6px
}

.calendar {

}

.priority--top {
    margin-left: 17px
}

.calendar-element {

}

.priority-element {

}

.calendar-element--edit {
    height: 100%
}

.priority--edit {

}

.priority-element--edit {
    height: 100%
}

.sort {
    float: left
}

.sort-button {
    height: 30px;
    width: 29px;
    float: right;
    margin-right: 1px;
    border: 1px solid #c4c4c4;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: large;
    text-align: center;
}

.date-due {
    margin-top: 10px;
    float: right;
    font-size: x-small;
    color: #2f2f2f
}

.list {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 2px;
}

.task {
    padding-right: 0px;
}

.item-buttons {
    margin-left: 2px
}

.delete-item-button {
    height: 30px;
    width: 29px;
    float: right;
    border: 1px solid #c4c4c4;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: large;
    text-align: center
}

.edit-task {
    width: 100%;
    margin-bottom: 2px;
    border: 1px solid darkgray
}

.settings {
    float: left;
    margin-top: 10px;
}

.settings-button {
    margin-left: -18px;
    cursor: pointer;
}

.change-color {
    margin: 5px;
}

.select-style {
    margin-top: 3px;
    margin-bottom: 5px;
}

.tag {
    font-size: x-small;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 5px;
    background-color: grey;
    color: white
}

.tag-select {
    display: flex
}

.add-button {
    height: 35px;
    margin-left: -19px;
}

.row-2 select {
    max-width: 130px
}

.row-2 button {
    width: 2rem
}

.undo {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.edit-text-element {
    min-height: 24px;
    width: 82%;
    resize: none;
    float: left;
    border-radius: 0.25rem;
}

.edit-text-button {
    width: 15%;
    height: 30px;
}

ul {
    margin-left: -42px;
}

li {
    border-bottom: 2px solid white;
    border-radius: 0.25rem;
    text-align: left;
    padding: 5px;
    width: 83%;
    list-style-type: none;
    word-wrap: break-word
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}


.fade-enter {
    opacity: 0.01;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}
  